'scopeName': 'source.cspro'
'name': 'CSPro'
'fileTypes': ['app', 'ent', 'pff', 'fmf', 'mgf', 'qsf']

'patterns': [
  # Single Line Comment
  {
    'match': '\/\/.*$'
    'name': 'comment.line.cspro'
  }
  # Short Comment on single line
  {
    'match': '\{.*\}'
    'name': 'comment.short.cspro'
  }
  # Block Comment. start with {{ and end with }}
  {

  }
  # Single quote strings
  {
    'match': '\'[^\']*\''
    'name': 'string.single.cspro'
  }
  # Double quote strings
  {
    'match': '\"[^\"]*\"'
    'name': 'string.double.cspro'
  }
  # Most of the standard control words `i` might be wrong here
  {
    'match': '\\b(?i)(end|if|else|endif|do|enddo|exit|for|forcase|endfor|next|universe|while|break)\\b'
    'name': 'keyword.control.cspro'
  }
  # Name Proc
  {
    'match': '\\b(?i)proc .*\\b'
    'name': 'keyword.procedure.name.cspro'
  }
  # proc control words
  {
    'match': '\\b(?i)(preproc|postproc)\\b'
    'name': 'keyword.procedure.control.cspro'
  }
]
