'scopeName': 'source.cspro'
'name': 'CSPro'
'fileTypes': ['app', 'ent', 'pff', 'fmf', 'mgf', 'qsf']

'patterns': [
  # Single Line Comment
  {
    'match': '\/\/.*$'
    'name': 'comment.line.cspro'
  }
  # Short Comment on single line
  {
    'match': '\{.*\}'
    'name': 'comment.short.cspro'
  }
  # Block Comment. start with {{ and end with }}
  {

  }
  # Single quote strings
  {
    'match': '\'[^\']*\''
    'name': 'string.single.cspro'
  }
  # Double quote strings
  {
    'match': '\"[^\"]*\"'
    'name': 'string.double.cspro'
  }
  # Most of the standard control words `i` might be wrong here
  {
    'match': '\\b(?i)(end|exit|next|universe|break|skip|reenter|enter|advance)\\b'
    'name': 'keyword.control.cspro'
  }
  #if statments
  {
    'match': '\\b(?i)(if|else|then|endif)\\b'
    'name': 'keyword.control.if.cspro'
  }
  #Loops
  {
    'match': '\\b(?i)(for|forcase|endfor|do|enddo|while|set)\\b'
    'name': 'keyword.control.loop.cspro'
  }
  # Name Proc
  {
    'match': '\\b(?i)proc .*\\b'
    'name': 'keyword.procedure.name.cspro'
  }
  # proc control words
  {
    'match': '\\b(?i)(preproc|postproc)\\b'
    'name': 'keyword.procedure.control.cspro'
  }
  # native data types
  {
    'match': '\\b(?i)(array|string|numeric|config|file)\\b'
    'name': 'keyword.type.standard.cspro'
  }
  #Relation
  {
    'match': '\\b(?i)(relation|to)\\b'
    'name': 'keyword.control.relation.cspro'
  }
  #Alpha
  #function
]
